@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate;
  }
}

@layer components {
  #root {
    @apply min-h-screen bg-gray-100;
  }

  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .btn-primary {
    @apply ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
  }

  .btn-secondary {
    @apply inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
  }

  .btn-warning {
    @apply inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm;
  }

  .input-txt {
    @apply max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md text-gray-700;
  }

  .input-error {
    @apply pr-10 border-red-300 text-red-900 placeholder-red-300 focus:outline-none focus:ring-red-500 focus:border-red-500;
  }

  .btn-primary:disabled {
    @apply bg-indigo-300 text-gray-100;
    cursor: no-drop;
  }

  .btn-secondary:disabled {
    @apply text-gray-100 bg-gray-100;
    cursor: no-drop;
  }

  .flip-card {
    background-color: transparent;
    perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .rotate {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    @apply flex justify-center px-4 py-5 sm:p-6 h-full shadow sm:rounded-lg;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-card-front {
    @apply bg-white;
  }

  .flip-card-back {
    @apply bg-indigo-300;
    transform: rotateY(180deg);
  }

  .flip-card-text {
    @apply my-auto text-3xl leading-6 font-medium text-gray-900 text-center;
  }

  .form-title {
    @apply text-lg leading-6 font-medium text-gray-900;
  }

  .form-description {
    @apply mt-1 max-w-2xl text-sm text-gray-500;
  }

  .form-label {
    @apply block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2;
  }
}
